<h2 mat-dialog-title class="title gray-3">Gerenciar Categorias</h2>
<mat-dialog-content class="content">
  <form [formGroup]="form" class="form flex-row">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Nome da Categoria</mat-label>
      <input matInput formControlName="name" />
      <mat-error
        *ngIf="
          form?.get('name')?.invalid &&
          (form?.get('name')?.touched || form?.get('name')?.dirty)
        "
      >
        Nome da categoria é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Cor da Categoria</mat-label>
      <input matInput type="color" formControlName="color" #colorPicker />
      <mat-error
        *ngIf="
          form?.get('color')?.invalid &&
          (form?.get('color')?.touched || form?.get('color')?.dirty)
        "
      >
        Cor da categoria é obrigatória
      </mat-error>
    </mat-form-field>
  </form>
  <div class="preview">
    <div class="preview-section">
      <label class="preview-label">Pré-visualização:</label>
      <div class="chip-and-button">
        <mat-chip
          [ngStyle]="{
            'background-color':
              form.get('color')?.value | categoryBackgroundColor
          }"
          color="primary"
        >
          <span
            [ngStyle]="{
              color: form.get('color')?.value | categoryTextColor
            }"
            >{{ form.get("name")?.value || "chip" }}</span
          >
        </mat-chip>
        <button
          mat-icon-button
          color="primary"
          type="button"
          class="icon-button"
          (click)="onCreate()"
          matTooltip="Adicionar categoria"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Buscar Categoria</mat-label>
    <input matInput (input)="onSearch($event)" />
  </mat-form-field>
  <mat-chip-listbox #chipList aria-labelledby="listboxLabel" class="chip-list">
    <ng-container *ngFor="let category of filteredCategories">
      <div class="chip-row">
        <mat-chip
          [ngStyle]="{
            'background-color': category.color | categoryBackgroundColor
          }"
          color="primary"
        >
          <span [ngStyle]="{ color: category.color | categoryTextColor }">{{
            category.name
          }}</span>
        </mat-chip>
        <button
          mat-icon-button
          color="warn"
          (click)="onDelete(category.id)"
          matTooltip="Deletar categoria"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-chip-listbox>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'" class="actions">
  <button
    mat-stroked-button
    type="button"
    class="cancel-button gray-4"
    (click)="close()"
  >
    Fechar
  </button>
</mat-dialog-actions>
