<div class="content">
  <h3 class="title gray-3">
    {{ user ? "Atualizar" : "Registro" }}
  </h3>
  <div class="photo-selection">
    <input
      #fileInput
      type="file"
      accept="image/*"
      style="display: none"
      (change)="onFileSelected($event)"
    />
    <div class="photo-card photo-content" (click)="fileInput.click()">
      <img
        [src]="displayedImage"
        alt="Foto de perfil"
        class="profile-photo"
        (error)="displayedImage = 'assets/images/default-user.jpeg'"
        height="100"
        width="100"
      />
      <div class="overlay">
        <div class="text">Alterar</div>
      </div>
    </div>
  </div>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nome</mat-label>
      <input
        matInput
        formControlName="name"
        type="text"
        placeholder="Insira seu nome"
      />
      <mat-error *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
        O nome é obrigatório.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Insira seu email"
      />
      <mat-error
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
      >
        Por favor, insira um email válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Senha</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        placeholder="Insira sua senha"
      />
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
      >
        A senha é obrigatória e deve ter pelo menos 6 caracteres.
      </mat-error> </mat-form-field
    ><mat-form-field appearance="outline" class="form-field" *ngIf="user">
      <mat-label>Nova Senha</mat-label>
      <input
        matInput
        [type]="hideNewPassword ? 'password' : 'text'"
        formControlName="new_password"
        placeholder="Insira sua nova senha"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideNewPassword = !hideNewPassword"
      >
        <mat-icon>{{
          hideNewPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          form.get('newPassword')?.invalid && form.get('newPassword')?.touched
        "
      >
        A nova senha é obrigatória e deve ter pelo menos 6 caracteres.
      </mat-error>
    </mat-form-field>
  </form>
  <div [align]="'end'" class="actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit()"
    >
      {{ user ? "Atualizar" : "Registrar" }}
    </button>
  </div>
</div>
