$primary: #0560fd;
$gray-4: #141b18;
$gray-3: #9ca3ad;
$gray-2: #f6f7f9;
$gray-1: #ffffff;
$negative: #e44e57;
$negative-bg: #e44e57;
$medium: #e4ae57;
$medium-bg: #e4ae57;
$positive: #4eae57;
$positive-bg: #4eae57;
